@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <h3 class="display-4">Yazılım Teknolojileri Akademisi</h3>
    <h3 class="display-4">Online Kütüphane</h3>
    <br />
    <br />
    <div class="image-container">
        <img width="700" height="400" class="library-image" src="/Images/library.jpg" alt="Kütüphane" />
    </div>
</div>
