@{
    ViewData["Title"] = "İletişim Bilgilerimiz";
}

<link rel="stylesheet" href="~/css/privacy.css" />

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="contact-card">
    <h3>İletişim Adresimiz:</h3>
    <p>Ihlamur Sokak Meneşke Apt. No:5<br>Çankaya, ANKARA</p>
    <h3>E-posta adresimiz:</h3>
    <p><a href="mailto:yta.iletisim@gmail.com">yta.iletisim@gmail.com</a></p>
</div>
