@using Kitaplik_Mvc.Models.Entities
@model Odunc

<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Yeni Ödünç Kaydı</h1>
    </div>

    <form asp-controller="Odunc" asp-action="Ekle" method="post">
        <div class="mb-3">
            <label class="form-label">Öğrenci ID</label>
            <input asp-for="OgrenciID" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Kitap Seç</label>
            <select asp-for="KitapID" class="form-control" asp-items="ViewBag.KitapList"></select>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a asp-controller="Odunc" asp-action="Listele" class="btn btn-secondary">İptal</a>
    </form>
</div>
