@model Kitaplik_Mvc.Models.Entities.Odunc

@{
    ViewData["Title"] = "Ödünç Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Sol tarafta form -->
        <div class="col-md-8">
            <h1>Ödünç Güncelle</h1>

            <form asp-controller="Odunc" asp-action="Guncelle" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="UyeID"> Üye </label>
                    <select asp-for="UyeID" asp-items="ViewBag.UyeValue" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label asp-for="KitapID"> Kitap Adı </label>
                    <select asp-for="KitapID" asp-items="ViewBag.KitapValue" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label asp-for="OduncAlimTarihi"> Odunc Alma Tarihi </label>
                    <input asp-for="OduncAlimTarihi" class="form-control" type="date" />
                </div>

                <div class="form-group">
                    <label asp-for="IadeTarihi"> İade Tarihi </label>
                    <input asp-for="IadeTarihi" class="form-control" type="date" />
                </div>

                <button type="submit" class="btn btn-success">Güncelle</button>
            </form>
        </div>

        <!-- Sağ tarafta kitap resmi -->
        <div class="col-md-4 text-center">
            <h1></h1>
            @if (Model.Kitap != null && !string.IsNullOrEmpty(Model.Kitap.Image))
            {
                <img src="@Url.Content(Model.Kitap.Image)" class="img-fluid rounded" style="max-width: 250px;" alt="Kitap Resmi" />
            }
            else
            {
                <p>Resim bulunamadı.</p>
            }
        </div>
    </div>
</div>
