@model Kitaplik_Mvc.Models.Entities.Kitap

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Kitap Güncelle</h1>

    <form asp-controller="Kitap" asp-action="Guncelle" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Image" />

        <div class="form-group">
            <label asp-for="Baslik"></label>
            <input asp-for="Baslik" class="form-control" placeholder="Kitap Başlığı Girin" />
        </div>

        <div class="form-group">
            <label asp-for="Yazar"></label>
            <select asp-for="YazarId" asp-items="ViewBag.Yazarlar" class="form-control">
                <option value="">Yazar Seçin</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="YayinTarihi"></label>
            <input asp-for="YayinTarihi" type="date" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Kategori"></label>
            <select asp-for="KategoriId" asp-items="ViewBag.Kategoriler" class="form-control">
                <option value="">Kategori Seçin</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" class="form-control" placeholder="ISBN Girin" />
        </div>

        <div class="form-group">
            <label asp-for="Image"></label>
            <img src="@Url.Content(Model.Image)" alt="Kitap Resmi" class="table-img">
        </div>

        <div class="form-group">
            <label for="Image">Kitap Resmi Yükleyin</label>
            <input type="file" asp-for="Image" class="form-control" id="Image" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success"> Bilgileri Güncelle</button>
    </form>
</div>
