@model IEnumerable<Kitaplik_Mvc.Models.Entities.Kategori>
@using Kitaplik_Mvc.Models.Entities

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Kategori Listesi</h1>

    <div class="search-container">
        <input type="text" id="searchInputKategori" placeholder="Kategori ismi ile ara..." onkeyup="searchTable('searchInputKategori', 'categoryTable', 0)">
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Kitaplar</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kategori in Model)
            {
                <tr onclick="selectRow(this)">
                    <td>@kategori.Isim</td>
                    <td>
                        @if (kategori.Kitaplar != null && kategori.Kitaplar.Any())
                        {
                            <ul>
                                @foreach (var kitap in kategori.Kitaplar)
                                {
                                    <li>@kitap.Baslik</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Kitap Bulunamadı.</span>
                        }
                    </td>
                    <td><a asp-controller="Kategori" asp-action="Guncelle" asp-route-id="@kategori.Id" class="btn btn-primary">Güncelle</a></td>
                    <td><a asp-controller="Kategori" asp-action="Sil" asp-route-id="@kategori.Id" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <a asp-controller="Kategori" asp-action="Ekle" class="btn btn-success">Kategori Ekle</a>
    </div>
</div>

