@model Kitaplik_Mvc.Models.Entities.Yazar

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Yazar Ekle</h1>

    <form asp-action="Ekle">
        <div class="form-group">
            <label for="Ad">Ad</label>
            <input type="text" class="form-control" id="Ad" name="Ad" required>
        </div>
        <div class="form-group">
            <label for="Soyad">Soyad</label>
            <input type="text" class="form-control" id="Soyad" name="Soyad" required>
        </div>
        <div class="form-group">
            <label for="DogumTarihi">Doğum Tarihi</label>
            <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi" required>
        </div>
        <div class="form-group">
            <label for="Biyografi">Biyografi</label>
            <input type="text" class="form-control" id="Biyografi" name="Biyografi" required>
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>

