@model Kitaplik_Mvc.Models.Entities.Yazar
@using Kitaplik_Mvc.Models.Entities

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Yazar Ekle</h1>

    <form action="@Url.Action("Ekle", "Yazar")" method="post">
        <div class="form-group">
            <label for="Ad">Ad</label>
            <input type="text" class="form-control" id="Ad" name="Ad" class="form-control"  required>
        </div>
        <div class="form-group">
            <label for="Soyad">Soyad</label>
            <input type="text" class="form-control" id="Soyad" name="Soyad" class="form-control"  required>
        </div>
        <div class="form-group">
            <label for="DogumTarihi">Doğum Tarihi</label>
            <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi" class="form-control"  required>
        </div>
        <div class="form-group">
            <label for="Biyografi">Biyografi</label>
            <input type="text" class="form-control" id="Biyografi" name="Biyografi" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="kitaplar">Kitaplar</label>
            <input type="text" id="kitaplar" name="Kitaplar" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>

